{% extends 'main/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/carrinho.css' %}" />
<link rel="stylesheet" href="{% static 'css/pedido.css' %}" />
<style>
  input[type="number"]{
    -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
          width: 50px;
          text-align: center;
          font-size: 1.3em;
          border-style: none;
          background-color: #EFEFEF;
  }
</style>
{% endblock css %}

{% block title %}Estoque{% endblock title %}
{% block body %}



{% comment %} Conteúdo do corpo {% endcomment %}
<div class="body-container" style="width: 100%;">
  <div class="endereco-container" style="margin-left: 360px; width: 85%;"><br>
    <h1>Estoque da Loja {{loja.nome}} </h1><br>
    <section class="produtos">
      <form method="post">
      <table id = "carrinho">
  {% comment %} Titulos da tabela {% endcomment %}
          <tr class = "titulos">
            <th class = "principal" align="left">PRODUTO</th>
            <th>PREÇO</th>
            <th>QUANTIDADE</th>
            <th>APAGAR</th>
          </tr>
          {% comment %} Produtos {% endcomment %}
      {% csrf_token %}
      {% for prod in produtos %}
          <tr class = "produto">
              <td class = "imagem-produto" align="left">
              <img src="{% static 'pictures/image-svgrepo-com.svg' %}" alt="">
              <h4>{{ prod.nome }} {{ prod.marca }} 
              {{prod.medida }} {{ prod.tipo_medida }}</h4></td>
              <td><h4>R$ {{ prod.valor }}</h4></td>
              <td><h4>{{prod.quantidade}}</h4></td>
              <td class = "remove"><button type="submit" class = "remover"onclick="remove(this)"><i class="fas fa-times">
                <input type="text" name="{{prod.id}}" value ="{{prod.disponivel}}" style="display: none;">
              </i></button></td>
          </tr>
          {% endfor %}
        </table>
      </form>
      <a href="../">
        <button style="margin-top: 15px; margin-left: 30%;" type="button" class="btn btn-secondary btn-lg">
          <h3>Produtos disponíveis</h3>
        </button>
      </a>
</section>
  </div>
</div>
{% endblock body %}
{% block js %}
<script>
function remove(obj){
  obj.children[0].children[0].value = 'True'
}
</script>
{% endblock js %}
